{% extends "base.html" %}

{% block content %}
  <h2>시작이 반이다!</h2>

  <table>
    <thead>
      <tr>
        <th>오프닝</th>
        <th>이름</th>
        <th>수</th>
        <th>설명</th>
        <th>변화수</th>
      </tr>
    </thead>
    <tbody>
      {% for opening in openings %}
        <tr>
          <td>
            {% for image in opening.images.all %}
              <img src="{{ image.image.url }}" />
            {% endfor %}</td>
          <td>{{ opening.name }}</td>
          <td>{{ opening.moves }}</td>
          <td>{{ opening.description }}</td>
          <td>
            {% if opening.num_variations > 0 %}
              <ul>
                {% for variation in opening.variations.all %}
                  <li>{{ variation.name }}: {{ variation.moves }}</li>
                {% endfor %}
              </ul>
            {% else %}
              변화수 없음.
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
