<!DOCTYPE html>
<html>
  <head>
    <title>Chess Game</title>
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" />
  </head>
  <body>
    <h1>New Game</h1>    
    <!-- Include the chessboard.js script to initialize the chessboard -->
	<div id="chessboard" data-chessboard-id="{{ chessboard_id }}"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
	<script>
	  var chessboard = Chessboard('chessboard', {
		position: '{{ board_state }}',
		draggable: true,
		dropOffBoard: 'trash',
		sparePieces: true
	  });
	</script>	
  </body>
</html>


